<div class="card" *ngIf="movie">
  <div class="poster">
    <img [src]="movie.poster_path | posterImage" [alt]="'poster of ' + movie.title">
  </div>
  <div class="title">
    {{movie.title}}
  </div>
  <div class="info">
    <div>
      {{movie.release_date}}
    </div>
    <div>
      <fa-icon [icon]="fasHeart" class="icon is-liked" (click)="isLiked = !isLiked" [hidden]="!isLiked"></fa-icon>
      <fa-icon [icon]="farHeart" class="icon"  (click)="isLiked = !isLiked" [hidden]="isLiked"></fa-icon>
      <fa-icon [icon]="faCheck" class="icon" (click)="isInWatchList = !isInWatchList" [hidden]="!isInWatchList"></fa-icon>
      <fa-icon [icon]="fasClock" class="icon" (click)="isInWatchList = !isInWatchList" [hidden]="isInWatchList"></fa-icon>
      <fa-icon [icon]="faStar" class="icon star-icon"></fa-icon>
      {{movie.vote_average}}
    </div>
  </div>
</div>
