.card {

  width: 246px;
  margin: 8px auto;
  padding-top: 16px;
  padding-bottom: 16px;
  .poster {
    width: 100%;
    height: 346px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .title {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFFFFF;
    font-size: 20px;
    max-height: 72px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: pink;
  }
  .info {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
  }
}
