/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Bree Serif';
  src: url("assets/BreeSerif-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', sans-serif;
  background: #081C24;
}
a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

section {
  background: #081C24;
  h3 {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: pink;
  }
}

.btn-primary {
  color: pink;
  border-radius: 0;
  text-decoration: none;
  background-color: #081C24;
  border: 3px solid pink;
  padding: 10px 16px;
  font-size: 1.3rem;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
    color: #051318;
    background-color: pink;
  }
}
.icon{
  padding: 0 8px;
}
.is-liked {
  color: red;
}
.star-icon {
  color: 	#FFA500;
  padding-right: 4px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
